@charset "UTF-8";

// Default Variables

// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"

// $slick-font-path: "./fonts/" !default;
// $slick-font-family: "slick" !default;
// $slick-loader-path: "./" !default;
$slick-arrow-color: $white;
$slick-dot-color: $primary;
$slick-dot-color-active: lighten( $primary, 20% );
// $slick-prev-character: "\2190" !default;
// $slick-next-character: "\2192" !default;
// $slick-dot-character: "\2022" !default;
$slick-dot-size: 6px;
$slick-opacity-default: 0.75;
$slick-opacity-on-hover: 1;
$slick-opacity-not-active: 0.25;

/* Equal Heights */
.slick-track {
	display: flex !important;
}

.slick-slide {
	height: inherit !important;

	> div {
		height: 100%;
	}
}

/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 0;
    width: 0;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: $primary;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    &:hover, &:focus {
        outline: none;
        background: transparent;
        color: transparent;
        &:before {
            opacity: $slick-opacity-on-hover;
        }
    }
    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }
    &:before {
        line-height: 1;
        color: $slick-arrow-color;
        opacity: $slick-opacity-default;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.slick-prev {
    left: -25px;
    [dir="rtl"] & {
        left: auto;
        right: -5px;
    }
    &:before {
        content: "";
        border-top: 10px solid transparent;
		border-bottom: 10px solid transparent; 
		border-right: 20px solid $primary;
        [dir="rtl"] & {
            content: "";
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent; 
			border-left: 20px solid $primary;
        }
    }
}

.slick-next {
    right: -5px;
    [dir="rtl"] & {
        left: -25px;
        right: auto;
    }
    &:before {
        content: "";
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent; 
		border-left: 20px solid $primary;
        [dir="rtl"] & {
            content: "";
	        border-top: 10px solid transparent;
			border-bottom: 10px solid transparent; 
			border-right: 20px solid $primary;
        }
    }
}
/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
        button {
            border: 0;
            background: transparent;
            display: block;
            height: 20px;
            width: 20px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            &:hover, &:focus {
                outline: none;
                &:before {
                    opacity: $slick-opacity-on-hover;
                }
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: "";
                width: 20px;
                height: 20px;
                font-size: $slick-dot-size;
                line-height: 20px;
                text-align: center;
                color: $slick-dot-color;
                opacity: $slick-opacity-not-active;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        &.slick-active button:before {
            color: $slick-dot-color-active;
            opacity: $slick-opacity-default;
        }
    }
}
