// Buttons
@mixin btn {
	background: $primary;
	&:hover {
		color: $white;
	}
}
.btn {
	@include btn;
}

@mixin btnPrimary() {
	background-color: $primary;
	color: $white;

	&:not(:disabled):not(.disabled):active,
	&:not(:disabled):not(.disabled).active,
	&:hover,
	&:focus,
	&:active {
		background-color: darken($primary, 5%);
	}
}
.btn-primary {
	@include btnPrimary;
}
