.header {
	&__cart-icon {

	}

	&__desktop {
		.menu {

		}
	}

	&__mobile {
		.menu {

		}
	}
}

.mobile-menu {
	position: fixed;
	top: 101px;
	left: -100%;
	width: 100%;
	bottom: 0;
	z-index: 2;
	transition: left 200ms ease;
	overflow-y: auto;

	&__navigation {

	}

	.hamburger {
		background: transparent;
	}

	.menu {

	}
}

.mobile-menu-active {
	overflow: hidden;

	.mobile-menu {
		left: 0;

		.bg-texture-1 {
			left: 0;

			@include media-breakpoint-up( md ) {
				left: -100%;
			}
		}

		@include media-breakpoint-up( md ) {
			left: -100%;
		}
	}
}
